<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Journal, Feedback & Todo App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Welcome to Your Personal Space</h1>
        <p>Manage your daily journal, submit feedback, and track your tasks effortlessly.</p>

        <div class="btn-container">
            <a href="/todo/add" class="btn">Submit a Todo Item</a>
            <a href="/todo/view" class="btn">View Todo Item</a>
            <a href="/journal/add" class="btn">Submit a Journal Entry</a>
            <a href="/journal/view" class="btn">View a Journal Entry</a>
            <a href="/feedback/submit" class="btn">Submit Feedback</a>
            <a href="/feedback/view" class="btn">View Feedback</a>
           
        </div>

        <footer>Nain Victorin Homework2</footer>
    </div>
</body>
</html>
